<div *ngIf="tickets">

		<h3>Customer Tickets</h3>
		<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>user</th>
								<th>ticketId</th>
								<th>issue</th>
								<th>description</th>
								<th>submittedBy</th>
								<th>resolution</th>
								<th>priority</th>
								<th>status</th>
								<th>text</th>
								<th>dateSubmitted</th>
								<th>dateUpdate</th>
							</tr>
						</thead>
						<tbody>
							<tr>
									<td>{{tickets._id}}</td>
									<td>{{tickets.user.email}}</td>
									<td>{{tickets.ticketId}}</td>
									<td>{{tickets.issue}}</td>
									<td>{{tickets.description}}</td>
									<td>{{tickets.submittedBy}}</td>
									<td>{{tickets.resolution}}</td>
									<td>{{tickets.priority}}</td>
									<td>{{tickets.status}}</td>
									<td>{{tickets.text}}</td>
									<td>{{tickets.dateSubmitted}}</td>
									<td>{{tickets.dateUpdate}}</td>
									<td><a href="/customer/ticket/edit/{{tickets._id}}" class="btn btn-primary">Update</a><a href="/customer/ticket/detail/{{tickets._id}}" class="btn btn-primary">Detail</a> <button (click)="deleteInvoice(tickets._id)" class="btn btn-danger">Delete</button></td>
							</tr>
						</tbody>
					</table>

</div>

<h3>Customer Notes</h3>

<form *ngIf="trackerDetails" (ngSubmit)="onSubmit()">

  <div class="form-group">
      <label>ID</label>
      <input type="text" disabled class="form-control" name="user" #user="ngModel" [ngModel]="trackerDetails.user" (ngModelChange)="insertUserID(tickets)" placeholder="user">
    </div>
<div class="form-group">
  <label>ticket</label>
  <input type="text" class="form-control" name="ticket" #ticket="ngModel" [(ngModel)]="trackerDetails.ticket" (ngModelChange)="insertTicketID(tracker)" placeholder="ticket">
</div>
<div class="form-group">
  <label>comment</label>
  <input type="text" class="form-control" name="comment" #comment="ngModel" [(ngModel)]="trackerDetails.comment"placeholder="comment">
</div>
<div class="form-group">
  <label>other</label>
  <input type="text" class="form-control" name="other" #other="ngModel" [(ngModel)]="trackerDetails.other"placeholder="other">
</div>

  
  <button type="submit" class="btn btn-default">Edit Ticket</button>
</form>


<h3>Customer Details</h3>
<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>responseId</th>
						<th>comment</th>
						<th>other</th>
						<th>dateUpdate</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let tracker of trackers">
						<td>{{tracker._id}}</td>
							<td>{{tracker.responseId}}</td>
							<td>{{tracker.comment}}</td>
							<td>{{tracker.other}}</td>
							<td>{{tracker.dateUpdate}}</td>
							<td><a href="/customer/tracker/detail/{{tracker._id}}" class="btn btn-primary">Details</a> <a href="/customer/tracker/edit/{{tracker._id}}" class="btn btn-default">Edit</a> <button (click)="deleteInvoice(tracker._id)" class="btn btn-danger">Delete</button></td>
					</tr>
				</tbody>
			</table>