<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="issue">Issue</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="priority">Priority</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="status">Status</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="ticket">Ticket ID</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="ticket-date-range">Ticket Date Range</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="tracker">Tracker ID</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="tracker-date-range">Tracker Date Range</a>
      </li>
  </ul> 

