<table class="table-fill">
    <thead>
          <li  class="nav-item">
                  <a  class="nav-link"  routerLink="/customer/dashboard">Dashboard</a>
                  <a  class="nav-link"  routerLink="/customer/ticket">Ticket</a>
                  <a  class="nav-link"  routerLink="/customer/profile">Profile</a>
                  <a  class="nav-link"  routerLink="/customer/transactions">transaction</a>
                  <a  class="nav-link"  routerLink="/customer/transactions/invoices">Invoices</a>
                  <a  class="nav-link"  routerLink="/customer/transactions/sales">Sales</a>
                  </li>
                  <router-outlet></router-outlet>
        <tr>
            <th colspan="2" class="text-center">customer Profile</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2" class="text-center">
                <input type="button" (click)="onLogout()" value="Logout" />
            </td>
        </tr>
    </tbody>
  </table>