<h2 class="sub-header">Add Role</h2>
<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>role id</label>
    <input type="text" class="form-control" name="roleId" #roleId="ngModel" [(ngModel)]="newRole.roleId" placeholder="Role Id">
  </div>
  <div class="form-group">
    <label>role</label>
    <input type="text" class="form-control" name="role" #role="ngModel" [(ngModel)]="newRole.role" placeholder="role">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>