<div>
  <img src="../../../assets/images/users.png" id="icon" alt="User Icon" />
</div>
<form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">

  <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="Email"
  required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
  <div *ngIf="signUpForm.submitted && email.errors">
    <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
    <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
  </div>

  <input type="password" id="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password" placeholder="Password"
  minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
  <div *ngIf="signUpForm.submitted && password.errors">
    <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
    <label *ngIf="password.errors.minlength" class="validation-message">Enter at least 4 characters.</label>
  </div>

  <input type="password" id="confirmPassword" #confirmPassword="ngModel" [(ngModel)]="userService.selectedUser.confirmPassword" name="confirmPassword" appConfirmEqualValidator="password" placeholder="Confirm Password"
  minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !confirmPassword.valid }">
  <div *ngIf="signUpForm.submitted && password.errors">
    <label *ngIf="confirmPassword.errors.required" class="validation-message">Confirm Password is required.</label>
    <label *ngIf="confirmPassword.errors.minlength" class="validation-message">Enter at least 4 characters.</label>
    <label *ngIf="confirmPassword.errors?.notEqual && !confirmPassword.errors?.required" class="validation-message">Password and Confirm Password does not match</label>
  </div>

  <input type="submit" value="Sign Up">
</form>


<!-- Success message -->
<div class="success" *ngIf="showSuccessMessage">
  Saved successfully
</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>