<div>
  <img src="../../../assets/images/users.png" id="icon" alt="User Icon" />
</div>
<form #signUpForm="ngForm" (submit)="onHandleSubmit(signUpForm)">

  <div class="card-body">
  <div class="form-group">
    <label for="email">Email</label>
    <input id="email" name="email" type="email" class="form-control" [class.is-invalid]="email.invalid && email.touched" placeholder="Enter Email..." ngModel #email="ngModel" required>
    <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required!</small>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" name="password" type="password" class="form-control" [class.is-invalid]="password.invalid && password.touched" placeholder="Enter Password..." ngModel #password="ngModel" required>
    <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required!</small>
  </div>
  <div class="form-group">
    <label for="password2">Confirm Password</label>
    <input id="password2" name="password2" type="password" class="form-control" [class.is-invalid]="password2.invalid && password2.touched" placeholder="Enter Password Again..." ngModel #password2="ngModel" required [disabled]="password.invalid">
  </div>
</div>
<div class="card-footer">
  <button [disabled]="signUpForm.invalid" id="btn-register" type="submit" class="btn text-light">Sign Up</button>

</div>
</form>


<!-- Success message -->
<div class="success" *ngIf="showSuccessMessage">
  Saved successfully
</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>