<h3>Customer Tickets</h3>
		<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>user</th>
								<th>ticketId</th>
								<th>issue</th>
								<th>description</th>
								<th>submittedBy</th>
								<th>resolution</th>
								<th>priority</th>
								<th>status</th>
								<th>text</th>
								<th>dateSubmitted</th>
								<th>dateUpdate</th>
							</tr>
						</thead>
						<tbody>
                <tr>
                    <td>{{ticket._id}}</td>
                    <td>{{ticket.user.email}}</td>
                    <td>{{ticket.ticketId}}</td>
                    <td>{{ticket.issue}}</td>
                    <td>{{ticket.description}}</td>
                    <td>{{ticket.submittedBy}}</td>
                    <td>{{ticket.resolution}}</td>
                    <td>{{ticket.priority}}</td>
                    <td>{{ticket.status}}</td>
                    <td>{{ticket.text}}</td>
                    <td>{{ticket.dateSubmitted}}</td>
                    <td>{{ticket.dateUpdate}}</td>
                    <td><a href="/customer/ticket/edit/{{ticket._id}}" class="btn btn-primary">Update</a><a href="/customer/ticket/detail/{{ticket._id}}" class="btn btn-primary">Detail</a> <button (click)="deleteInvoice(ticket._id)" class="btn btn-danger">Delete</button></td>
                </tr>
						</tbody>
					</table>
<form *ngIf="tracker" (ngSubmit)="onSubmit()">
<!-- 
  <div class="form-group">
    <label>ticketId</label>
    <input type="text" class="form-control" #ticketId="ngModel" name="ticketId" [(ngModel)]="ticket.ticketId"placeholder="ticketId">
  </div>
  <div class="form-group">
    <label>issue</label>
    <input type="text" class="form-control" #issue="ngModel" name="issue" [(ngModel)]="ticket.issue"placeholder="issue">
  </div>
  <div class="form-group">
    <label>description</label>
    <input type="text" class="form-control" #description="ngModel" name="description" [(ngModel)]="ticket.description" placeholder="description">
  </div>
  <div class="form-group">
    <label>submittedBy</label>
    <input type="text" class="form-control" #submittedBy="ngModel" name="submittedBy" [(ngModel)]="ticket.submittedBy" placeholder="submittedBy">
  </div>


  <div class="form-group">
    <label>resolution</label>
    <input type="text" class="form-control" #resolution="ngModel" name="resolution" [(ngModel)]="ticket.resolution" placeholder=".resolution">
  </div>

  <div class="form-group">
    <label>status</label>
    <input type="text" class="form-control" #status="ngModel" name="status" [(ngModel)]="ticket.status" placeholder="status">
  </div>
  <div class="form-group">
    <label>text</label>
    <input type="text" class="form-control" #text="ngModel" name="text" [(ngModel)]="ticket.text" placeholder="text">
  </div>
  <div class="form-group">
    <label>dateSubmitted</label>
    <input type="text" class="form-control" #dateSubmitted="ngModel" name="dateSubmitted" [(ngModel)]="ticket.dateSubmitted" placeholder="dateSubmitted">
  </div>
  <div class="form-group">
    <label>dateUpdate</label>
    <input type="text" class="form-control" #dateUpdate="ngModel" name="dateUpdate" [(ngModel)]="ticket.dateUpdate" placeholder="dateUpdate">
  </div>
   -->
  


  <div class="form-group">
      <label>ID</label>
      <input type="text" disabled class="form-control" name="user" #user="ngModel" [ngModel]="tracker.user" (ngModelChange)="insertUserID(ticket)" placeholder="user">
    </div>
<div class="form-group">
  <label>ticket</label>
  <input type="text" class="form-control" name="ticket" #ticket="ngModel" [(ngModel)]="tracker.ticket" (ngModelChange)="insertTicketID(tracker)" placeholder="ticket">
</div>
<div class="form-group">
  <label>comment</label>
  <input type="text" class="form-control" name="comment" #comment="ngModel" [(ngModel)]="tracker.comment"placeholder="comment">
</div>
<div class="form-group">
  <label>other</label>
  <input type="text" class="form-control" name="other" #other="ngModel" [(ngModel)]="tracker.other"placeholder="other">
</div>

  
  <button type="submit" class="btn btn-default">Edit Ticket</button>
</form>