<h2 class="sub-header">User Details</h2>
<div class="table-responsive">
<table *ngIf="userInfo" class="table table-striped">
    <thead>
        <a href="/admin/user/add" class="btn btn-primary">Add</a>
      </thead>

  <thead>
    <tr>
      <th>Customer Number</th>
      <th>Email</th>
      <th>Role ID</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userInfo">
      <td>{{ user.customerNumber }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.roleId }}</td>
      <td>{{ user.userType }}</td>
      <td><a href="/admin/user/detail/{{ user._id}}" class="btn btn-primary">Details</a> <a href="/admin/user/edit/{{ user._id }}" class="btn btn-default">Edit</a> <button id="deleteUser" (click)="deleteUser(user._id)" class="btn btn-danger">Delete</button></td>
    </tr>
  </tbody>
</table>
</div>