<div *ngIf="tickets">

  <h3>Customer Tickets</h3>
  <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>user</th>
              <th>ticketId</th>
              <th>issue</th>
              <th>description</th>
              <th>submittedBy</th>
              <th>resolution</th>
              <th>priority</th>
              <th>status</th>
              <th>text</th>
              <th>dateSubmitted</th>
              <th>dateUpdate</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>{{tickets._id}}</td>
                <td>{{tickets.ticketId}}</td>
                <td>{{tickets.issue}}</td>
                <td>{{tickets.description}}</td>
                <td>{{tickets.submittedBy}}</td>
                <td>{{tickets.resolution}}</td>
                <td>{{tickets.priority}}</td>
                <td>{{tickets.status}}</td>
                <td>{{tickets.text}}</td>
                <td>{{tickets.dateSubmitted}}</td>
                <td>{{tickets.dateUpdate}}</td>
                <td><a href="/customer/ticket/edit/{{tickets._id}}" class="btn btn-primary">Update</a><a href="/customer/ticket/detail/{{tickets._id}}" class="btn btn-primary">Detail</a> <button (click)="deleteInvoice(tickets._id)" class="btn btn-danger">Delete</button></td>
            </tr>
          </tbody>
        </table>

</div>

<!-- <table datatable [dtOptions]="dtOptions" class="row-border hover" [dtTrigger]="dtTrigger">

  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>responseId </th>
      <th>comment</th>
      <th>other</th>
      <th>dateUpdated </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tracker of trackers">
      <td><a href="/detail/{{tracker._id}}"><img src="../../../../assets/images/details.png" width="30" height="30"
            title="Details" /></a></td>
      <td><a href="/edit/{{tracker._id}}"><img src="../../../../assets/images/edit.png" width="35" height="35"
            title="Edit" /></a></td>
      <td>{{tracker.responseId}}</td>
      <td>{{tracker.comment}}</td>
      <td>{{tracker.other}}</td>
      <td>{{tracker.dateUpdated  | date:formatsDate}}</td>
    </tr>
  </tbody>
</table> -->
