<p>
  admin-ticket-search-issue works!
</p>
<!-- <a href="javascript:history.back()">Go Back</a>

  <div class="card">
    <div class="card-header">
        <div class="card-title">
            <div class="title">Search by Issue</div>
        </div>
    </div>
    <div class="card-body">
        <form class="form-horizontal" (ngSubmit)="onSubmit()"> -->

            <!-- <div class="form-group">
                <div class="col-sm-4">
                    <select class="form-control" name="issue" #issue="ngModel" [(ngModel)]="tickets" placeholder="Select">
                            <option value="General">General</option>
                            <option value="Billing">Billing</option>
                            <option value="Shipping">Shipping</option>
                            <option value="Online">Online</option>
                            <option value="Other">Other</option>
                    </select>
                    <button type="submit" class="btn btn-md btn-block btn-warning">Search by Issue</button> 
                </div>

            </div>
         </form> 
    </div>
</div> -->


<!-- <div>
    <label>Summary: </label>
    <select (change)="filterForeCasts($event.target.value)">
        <option value="0">--All--</option>

        <option value="General">General</option>
        <option value="Billing">Billing</option>
        <option value="Shipping">Shipping</option>
        <option value="Online">Online</option>
        <option value="Other">Other</option>

        <option *ngFor="let ticket of tickets" value={{summary}}>
            {{summary}}
        </option>
    </select>
</div> -->



<div class="container">

  <select [(ngModel)]="filter.issue" placeholder="Select">
      <option value="General">General</option>
      <option value="Billing">Billing</option>
      <option value="Shipping">Shipping</option>
      <option value="Online">Online</option>
      <option value="Other">Other</option>
</select>  

</div>
<div class="row container">
  <ul class="col-xs-6">
    <li class="list-group-item" 
      *ngFor="let ticket of tickets"

      (click)="select(ticket)">
      
      {{ticket.issue}}
      
    </li>
  </ul>


</div>