<!-- <table *ngIf="userDetails" class="table-fill">
    <thead>
        <tr>
            <th colspan="2" class="text-center">User Profile</th>
        </tr>
        <h2 class="underlineHover"  routerLink="/login"  routerLinkActive="active"> Sign In </h2>
        <h2 class="underlineHover"  routerLink="/signup"  routerLinkActive="active">Sign Up </h2>
    </thead>
    <tbody>
              <tr>
              <td>RoleId</td>
              <td>{{userDetails.roleId}}</td>
              </tr>
              <tr>
              <tr>
              <td>Type</td>
              <td>{{userDetails.userType}}</td>
              </tr>
              <tr>
              <td>Sales Code</td>
              <td>{{userDetails.salesCode}}</td>
              </tr>
              <tr>
              <tr>
              <td>Customer Number</td>
              <td>{{userDetails.customerNumber}}</td>
              </tr>
              <tr>
              <td>Email</td>
              <td>{{userDetails.email}}</td>
              </tr>
              <tr>
                      <tr>
                              <td>Password</td>
                              <td>{{userDetails.password}}</td>
                              </tr>
                              <tr>
            <td colspan="2" class="text-center">
                <input type="button" (click)="onLogout()" value="Logout" />
            </td>
        </tr>
    </tbody>
  </table>
   -->