<table datatable [dtOptions]="dtOptions" class="row-border hover"[dtTrigger]="dtTrigger">
    
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Ticket ID</th>
        <th>Issue</th>
        <th>Description</th>
        <th>Submitted By</th>
        <!-- <th>Resolution</th> -->
        <th>Priority</th>
        <th>Status</th>
        <th>Text</th>
        <th>Date Submitted</th>
        <th>Last Updated On</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets">
          <td *ngIf= "(ticket.issue == department)"><a href="/empmloyee/ticket/detail/{{ticket._id}}"><img src="../../../assets/images/details.png" width="30" height="30" title="Details"/></a></td>
          <td *ngIf= "(ticket.issue == department)"><a href="/employee/ticket/edit/{{ticket._id}}"><img src="../../../assets/images/edit.png" width="35" height="35" title="Edit"/></a></td>
          <td *ngIf= "(ticket.issue == department)">{{ticket.ticketId}}</td>
          <td *ngIf= "(ticket.issue == department)">{{ticket.issue}}</td>
          <td *ngIf= "(ticket.issue == department)">{{ticket.description}}</td>
          <td *ngIf= "(ticket.issue == department)">{{ticket.submittedBy}}</td>
          <!--  <td *ngIf= "(ticket.issue == department)">{{ticket.resolution}}</td> -->
          <td *ngIf= "(ticket.issue == department)">{{ticket.priority}}</td>
          <td *ngIf= "(ticket.issue == department)">{{ticket.status}}</td>
          <td *ngIf= "(ticket.issue == department)">{{ticket.text}}</td>
          <td *ngIf= "(ticket.issue == department)">{{ticket.dateSubmitted | date:formatsDate}}</td>
          <td *ngIf= "(ticket.issue == department)">{{ticket.dateUpdate | date:formatsDate}}</td>
      </tr>
    </tbody>
  </table>