<h2 class="sub-header">Ticket</h2>
<div class="table-responsive">
<table *ngIf="ticketInfo" class="table table-striped">

<thead>
    <tr>
      <th colspan="2" class="text-center">User Profile</th>
    </tr>
    <a href="/employee/ticket/add" class="btn btn-primary">Add</a>
    <th>department</th>
    <td>{{ department }}</td>
    <!-- <a href="/admin/ticket/detail/:id" class="btn btn-primary">Detail</a>
      <a href="/admin/ticket/edit/:id" class="btn btn-primary">Edit</a>
      <a href="/admin/ticket/search" class="btn btn-primary">Search</a>
      <a href="/admin/ticket/assigned" class="btn btn-primary">assigned</a>
      <a href="/admin/ticket/inbox" class="btn btn-primary">inbox</a>
        <a href="/admin/ticket/myticket" class="btn btn-primary">myticket</a>
        <a href="/admin/ticket/overdue" class="btn btn-primary">overdue</a>
        <a href="/admin/ticket/unassigned" class="btn btn-primary">unassigned</a> -->
  </thead>
<thead>
  <tr>

    <th>user</th>
    <th>ticketId</th>
    <th>issue</th>
    <th>description</th>
    <th>submittedBy</th>
    <th>resolution</th>
    <th>priority</th>
    <th>status</th>
    <th>text</th>
    <th>dateSubmitted</th>
    <th>dateUpdate</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let ticket of ticketInfo">

    <td *ngIf= "(ticket.issue == department)">{{ ticket.user._id }}</td>
    <td *ngIf= "(ticket.issue == department)">{{ ticket.ticketId }}</td>
    <td *ngIf= "(ticket.issue == department)">{{ ticket.issue }}</td>
    <td *ngIf= "(ticket.issue == department)">{{ ticket.description }}</td>
    <td *ngIf= "(ticket.issue == department)">{{ ticket.submittedBy }}</td>
    <td *ngIf= "(ticket.issue == department)">{{ ticket.resolution }}</td>
    <td *ngIf= "(ticket.issue == department)">{{ ticket.priority }}</td>
    <td *ngIf= "(ticket.issue == department)">{{ ticket.status }}</td>
    <td *ngIf= "(ticket.issue == department)">{{ ticket.text }}</td>
    <td *ngIf= "(ticket.issue == department)">{{ ticket.dateSubmitted }}</td>
    <td *ngIf= "(ticket.issue == department)">{{ ticket.dateUpdate }}</td> 
    <!-- <td><a href="/employee/ticket/detail/{{ ticket._id}}" class="btn btn-primary">Details</a> <a href="/employee/ticket/edit/{{ ticket._id }}" class="btn btn-default">Edit</a> <button id="deleteTicket" (click)="deleteTicket(ticket._id)" class="btn btn-danger">Delete</button></td> -->
  </tr>
</tbody>
</table>
</div>