
.panel {
  border-radius: 1px;
}

.panel .panel-heading {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.side-body {
    margin-left: 15px;
    margin-right: 15px;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
  }

  .side-body.padding-top {
    padding-top: 15px;
  }

  .row {
    margin-bottom: 1em;
  }

  .card.red {
    background-color: #FA2A00;
    color: #FFF;
  }
  
  .card.yellow {
    background-color: #ffb400;
    color: #FFF;
  }
  
  .card.green {
    background-color: #1ABC9C;
    color: #FFF;
  }
  
  .card.blue {
    background-color: #22A7F0;
    color: #FFF;
  }
  
  .card.dark {
    background-color: #3E4651;
    color: #FFF;
  }
  
  .card.red,
  .card.yellow,
  .card.green,
  .card.blue,
  .card.dark {
    border: 0;
  }
  
  .card.red .card-header,
  .card.yellow .card-header,
  .card.green .card-header,
  .card.blue .card-header,
  .card.dark .card-header {
    border-bottom: 0;
  }
  
  .card.red .card-header .title,
  .card.yellow .card-header .title,
  .card.green .card-header .title,
  .card.blue .card-header .title,
  .card.dark .card-header .title {
    color: #FFF;
  }
  
  .card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border: 0px solid #E4E4E4;
  }
  
  .card .card-header {
    border-bottom: 1px solid #E4E4E4;
  }
  
  .card .card-header .title {
    color: #3E4651;
  }
  
  .card .card-body .sub-title {
    border-bottom: 1px solid #EAEAEA;
  }
  
  .card .card-header.no-border {
    border-bottom: 0;
  }
  
  .card .card-jumbotron {
    background-color: #EAEAEA;
  }
  
  .card.primary .card-jumbotron {
    background-color: #3E4651;
    color: #FFF;
  }
  
  .card.profile .card-footer {
    border-top: 1px solid #F9F9F9;
  }
  
  .card.summary-inline.red:hover {
    background-color: #7c1a06;
  }
  
  .card.summary-inline.yellow:hover {
    background-color: #85630f;
  }
  
  .card.summary-inline.green:hover {
    background-color: #006551;
  }
  
  .card.summary-inline.blue:hover {
    background-color: #3E4651;
  }
  
  .card.summary-inline.dark:hover {
    background-color: #09486b;
  }
  
  .card.card-success .card-header {
    background-color: #1ABC9C;
  }
  
  .card.card-success .card-header .title {
    color: #FFF;
  }
  
  .card.card-info .card-header {
    background-color: #22A7F0;
  }
  
  .card.card-info .card-header .title {
    color: #FFF;
  }

  .card .card-body {
    padding: 25px;
  }