
.side-body {
    margin-left: 15px;
    margin-right: 15px;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
  }

  .side-body.padding-top {
    padding-top: 15px;
  }

  .row {
    margin-bottom: 1em;
  }

