
    <div class="row">
        <div class="col-xl-6 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-6
                </div>
            </div>
        </div>
        <div class="col-xl-6 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-6
                </div>
            </div>
        </div>
    </div>

    
    <div class="row">
        <div class="col-xl-6 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-6
                </div>
            </div>
        </div>
        <div class="col-xl-6 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-6
                </div>
            </div>
        </div>
    </div>

    
    <div class="row">
        <div class="col-xl-6 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-6
                </div>
            </div>
        </div>
        <div class="col-xl-6 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-6
                </div>
            </div>
        </div>
    </div>
<!-- 
    <div class="table-responsive">
        <table *ngIf="ticketInfo" class="table table-striped">
        
        <thead>
          <tr>
            <th>ticketId</th>
            <th>issue</th>
            <th>description</th>
            <th>submittedBy</th>
            <th>resolution</th>
            <th>priority</th>
            <th>status</th>
            <th>text</th>
            <th>dateSubmitted</th>
            <th>dateUpdate</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ticket of ticketInfo">
            <td>{{ ticket.ticketId }}</td>
            <td>{{ ticket.issue }}</td>
            <td>{{ ticket.description }}</td>
            <td>{{ ticket.submittedBy }}</td>
            <td>{{ ticket.resolution }}</td>
            <td>{{ ticket.priority }}</td>
            <td>{{ ticket.status }}</td>
            <td>{{ ticket.text }}</td>
            <td>{{ ticket.dateSubmitted }}</td>
            <td>{{ ticket.dateUpdate }}</td>
            <td><a href="/admin/ticket/detail/{{ ticket._id}}" class="btn btn-primary">Details</a> <a href="/admin/ticket/edit/{{ ticket._id }}" class="btn btn-default">Edit</a> <button id="deleteTicket" (click)="deleteTicket(ticket._id)" class="btn btn-danger">Delete</button></td>
          </tr>
        </tbody>
        </table>
        </div> -->