<div class="text-center mt-4 mb-5">
  <img src="../../../assets/images/forgot-password.png" id="forgot" alt="Forgot Password" />
  <h4>Forgot your password?</h4>
  <p>Enter your email address and we will send you instructions on how to reset your password.</p>
</div>

<form #forgotPasswordForm="ngForm" (ngSubmit)="forgotPasswordForm.valid && onSubmit(forgotPasswordForm)">
  <input type="text" name="email" #email="ngModel" [(ngModel)]="model.email" placeholder="Email" [pattern]="emailRegex"
    required [ngClass]="{'invalid-textbox' :forgotPasswordForm.submitted && !email.valid }">
  <div *ngIf="forgotPasswordForm.submitted && email.errors?.pattern">
    <label class="validation-message">Invalid email address.</label>
  </div>
  <input type="submit" value="Reset Password">
</form>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>
